<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Traitement d'image</title>
</head>
<body>
    <h1>Charger une image</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Charger</button>
    </form>


    {% if filename %}
    <img src="{{ url_for('static', filename='uploads/' + filename)}}" width="300">

    <br>
    <a href="{{ url_for('convert_to_gray', filename=filename) }}">Convertir en Gris</a>
    <br>
    <a href="{{url_for('filtre_moyenneur_image', filename= filename) }}">filtre moyenneur</a>
    <br>
    <a href="{{ url_for('download_file', filename=filename) }}">Télécharger</a>
{% endif %}

</body>
</html>
