<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Site traitement d'image</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <a href="#home" class="logo">Site traitement d'image</a>
    </header>
    <section class="navigation">
        <ul class="navbar">
            <form  method="post" enctype="multipart/form-data">
                <input class="file" type="file" name="file" id="images">
                <button class = "btn" type="submit">Print Image</button>
            </form>
            <br>
            <form action="{{ url_for('upload_file') }}" method="get">
                <button  class = "btn" type="submit">Return Home</button>
            </form>
            <br>
            
          {%if processed_filename%}
          <form action="{{ url_for('download_file', filename=processed_filename) }}" method="get">
          <button  class = "btn" type="submit">Download</button>
          {%endif%}
          </form>
            </br>
        </ul>
    </section>

   
    <section class="import" id="import">
        <div class="import-container">
            
            <div class="box">
                <label for="images">
                    <span> <h1> Cliquez pour sélectionner une image</h1></span>
                  
                    </label>
                    
                {% if filename %}
                    <img class = "up_img" src="{{ url_for('static', filename='uploads/' + filename) }}" method = "get" >
                {% endif %}
            </div>

   
            <div class="box">
                <h1>Résultat</h1>
                {% if processed_filename %}
                    <img class = "up_img" src="{{ url_for('static', filename='uploads/' + processed_filename) }}" >
                {% endif %}
            </div>
        </div>
    </section>

    <section class="filters" id="filters">
        <div class="main-contain">
            <div class="slideshow-container">
                <div class="slide s1">
                    <div class="overlay"></div>
                    <h2>no filter</h2>
                    
                </div>

                <div class="slide s2">
                    <div class="overlay"></div>
                    <h2>gray filter</h2>
                    {% if filename %}
                     <a class = "link " href="{{ url_for('convert_to_gray', filename=filename) }}">Convertir en Gris</a>
                {% endif %}
                </div>

                <div class="slide s3">
                    <div class="overlay"></div>
                    <h2>filtre Moyenneur </h2>
                    {% if filename %}
                     <a class = "link " href="{{ url_for('filtre_moyenneur_image', filename=filename) }}">Moyenner Image</a>
                {% endif %}
                    
                </div>

                <div class="slide s4">
                    <div class="overlay"></div>
                    <h2>filtre Erosion</h2>
                    {% if filename %}
                     <a class = "link " href="{{ url_for('filtre_erosion', filename=filename) }}">filtre Erosion</a>
                {% endif %}
                </div>

                <div class="slide s5">
                    <div class="overlay"></div>
                    <h2>Filtre Dilation</h2>
                    {% if filename %}
                     <a class = "link " href="{{ url_for('filtre_dilation', filename=filename) }}">Filtre dilation</a>
                {% endif %}
                </div>
                <div class="slide s6">
                    <div class="overlay"></div>
                    <h2>gradient morpho</h2>
                    {% if filename %}
                    <a class = "link " href="{{ url_for('gradient_morphologique', filename=filename) }}">gradient morphologique</a>
               {% endif %}
                </div>
                <div class="slide s7">
                    <div class="overlay"></div>
                    <h2> Edge Detection</h2>
                    {% if filename %}
                    <a class = "link " href="{{ url_for('edge_detection', filename=filename) }}">edge detection</a>
               {% endif %}
                </div>
                <div class="slide s8">
                    <div class="overlay"></div>
                    <h2>cartoon</h2>
                    {% if filename %}
                    <a class = "link " href="{{ url_for('filtre_cartoon', filename=filename) }}">filtre cartoon</a>
               {% endif %}
                </div>
                <div class="slide s9">
                    <div class="overlay"></div>
                    <h2> filtre contraste</h2>
                    {% if filename %}
                    <a class = "link " href="{{ url_for('filtre_contraste', filename=filename) }}">filtre constraste</a>
               {% endif %}
                </div>
                <div class="slide s10">
                    <div class="overlay"></div>
                    <h2>oil painting</h2>
                    {% if filename %}
                    <a class = "link " href="{{ url_for('filtre_oil_painting', filename=filename) }}">filtre_oil_painting</a>
               {% endif %}
                </div>
                <div class="slide s11">
                    <div class="overlay"></div>
                    <h2></h2>
                    <a href="#"></a>
                </div>
                <div class="slide s12">
                    <div class="overlay"></div>
                    <h2></h2>
                    <a href="#"></a>
                </div>
                <div class="slide s13">
                    <div class="overlay"></div>
                    <h2></h2>
                    <a href="#"></a>
                </div>
                <div class="slide s14">
                    <div class="overlay"></div>
                    <h2></h2>
                    <a href="#"></a>
                </div>
                <div class="slide s15">
                    <div class="overlay"></div>
                    <h2></h2>
                    <a href="#"></a>
                </div>
                <div class="slide s16">
                    <div class="overlay"></div>
                    <h2></h2>
                    <a href="#"></a>
                </div>
                <div class="slide s17">
                    <div class="overlay"></div>
                    <h2></h2>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </section>
    

<script src="static/script.js"></script>

</body>
</html>
